body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 
    background-color: #A9A9A9;
    font-family: Arial, sans-serif; 
}

#main-header {
    font-size: 2em;
}
header, section, aside {
    text-align: center;
}

nav{
    text-align:center;
    margin-top: 20px;
}

.nav-button:hover {
    color: #7CFC00; 
}

nav ul li a:hover {
    color: #7CFC00; 
}

img {
    display: block;
    max-width: 50%; 
    height: auto; 
    margin: 0 auto; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.50);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.city-cards {
    overflow: hidden; 
}

.card {
    float: left; 
    width: 30%; 
    margin: 0 1.5%; 
    text-align: center;
    background-color: #D3D3D3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    
}

.card:hover {
    transform: translateY(-10px); 
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px; 
}


.relative-container {
    position: relative; 
    padding-top: 120px; 
    text-align: center;
}

.absolute-element {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    background-color: #f9f9f9;
    padding: 10px; 
}

.absolute-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.highlight {
    background-color: #f0ebeb;
    padding: 5px;
}

#main-header {
    font-size: 2em;
    color: #007bff;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.content {
    width: 80%; 
    margin-top: 2rem; 
}

p {
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    text-align: left;
}